<form class="userAccountSelector">
    <label for="userAccountSelect">Select an account</label>
    <select name="userAccountSelect" id="userAccountSelect" ng-options="account.AccountCode for account in accounts track by account.AccountCode"
        ng-model="currentAccount"></select>
</form>
<div class="row" ng-repeat="message in messages" ng-show='messages.length > 0'>
    <div class="col-sm" ng-show='messages.length > 0'>
        <div class="row">
            <div class="col-sm">
                <h3>{{message.Subject}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" ng-bind-html="sce(message.Body)"></div>
        </div>
        <div class="row">
            <div class="col-sm">{{message.Read}}</div>
        </div>
    </div>
</div>    
<div class="row" >
<div class="col-sm" ng-show='messages.length < 1'>
        <h3>You have no new messages.</h3>
    </div></div>