<div class="row">
    <div class="col-sm text-center">
        <span>Page {{currentPage}} of {{pages}}</span>
        <div>
            <button class="first" ng-click="getFirstPage()" ng-disabled="!(currentPage > 1)" value="F">&lt;&lt;</button>
            <button class="previous" ng-click="getPreviousPage()" ng-disabled="currentPage == 1" value="P">&lt;</button>
            <button class="next" ng-click="getNextPage()" ng-disabled="!(currentPage < pages)" value="N">&gt;</button>
            <button class="last" ng-click="getLastPage()" ng-disabled="currentPage == pages" value="L">&gt;&gt;</button>
        </div>
    </div>
</div>